<!-- Não há nehuma referencia para as variaveis que serão printadas na tela pois elas foram definidas como variaveis globais no app.js -->

{{#if success_msg}} <!-- se existir uma mensagem de sucesso faça alguma coisa -->
    <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}} <!-- se existir uma mensagem de erro faça alguma coisa-->
    <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}